<div class="container text-center mt-5">
  <h1 class="display-4 text-danger">¡Pago Cancelado o Rechazado!</h1>
  <p class="lead">Lamentamos informarte que tu pago no ha sido procesado.</p>
  <p>Por favor, verifica tus datos e intenta nuevamente.</p>
  <a href="/products" class="btn btn-primary">Volver al Inicio</a>
</div>