<div class="body-login-failed">
<div class="card-login-failed">
    <h2 class="text-center mb-4">Error de inicio de sesión</h2>
    <div class="alert alert-danger" role="alert">
      <strong>Error:</strong> Credenciales inválidas. Inténtalo de nuevo.
    </div>
    <a href="/login" class="btn btn-primary d-block mx-auto">Volver al inicio de sesión</a>
</div>