<div class="container">
  <h1 class="mt-5 mb-4">Iniciar sesi칩n</h1>
  <form
    id="login-form"
    method="POST"
    action="/api/session/login"
    class="needs-validation"
    novalidate
  >

    <a href="/api/session/github" class="btn btn-primary">Iniciar con GITHUB</a>
    <div class="mb-3">
      <label for="email" class="form-label">Correo electr칩nico:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contrase침a:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesi칩n</button>
    <a href="/register" class="btn btn-primary">Registrarse</a>
  </form>
</div>