<div class="card">
  <h2 class="text-center mb-4">Correo ya registrado</h2>
  <div class="alert alert-danger" role="alert">
    <strong>Error:</strong>
    El correo
    <strong>"{{email}}"</strong>
    ya está registrado. Por favor, utiliza otro correo.
  </div>
  <a href="/api/session/register" class="btn btn-primary d-block mx-auto">Volver
    al registro</a>
</div>